* {
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 1.3em;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: red;
    height: 20%;
}

section {
    background-color: blueviolet;
    height: 60%;
    padding: 50px;
    display: flex;
    justify-content: center;
}

footer {
    background-color: aqua;
    height: 20%;
}

form {
    background-color: chartreuse;
    height: 100%;
    border-radius: 10px;
    width: 50%;
}